body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#my_canvas {
    display: block;
    /* border: thick solid #15cc24; */
    background-color: #848181;
    /* box-shadow: 20px 20px 10px 0px rgba(0, 0, 0, .7); */
}